body {
    background-color: lightblue;
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

section {
    background-color: white;
    color: red;
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

footer {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 5px black;
}
footer a {
    color: white;
}