body {
    background-color: skyblue;
    font: normal 18pt arial;
}

header {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 500px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.ideia {
    margin: 20px 0px;
}

#contar {
    width: 150px;
    padding: 5px;
}

footer {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

footer a {
    color: white;
}
